@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-container {
  perspective: 1000px; /* Create a 3D space */
  height: 55px;
}

.skill-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* Preserve 3D effect */
  transition: transform 0.5s; /* Transition effect for the flip */
}

.skill-container:hover .skill-card {
  transform: rotateY(180deg); /* Rotate card on hover */
}

.skill-front,
.skill-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back side when facing away */
  border-radius: 12px; /* Optional: round corners */
}

.skill-back {
  transform: rotateY(180deg); /* Initially hide back side */
}

/* Optional: Style the proficiency bar */
.bg-gray-200 {
  height: 8px; /* Height of the background bar */
}

.bg-green-500 {
  height: 8px; /* Height of the proficiency fill */
  transition: width 0.6s; /* Smooth transition for filling */
}

.flip-container {
  perspective: 1000px; /* Change this value for a more or less intense perspective */
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

/* Flip the card when the flip class is added */
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}
